# 環境変数ファイル
.env
.env.local
.env.*.local

# Python仮想環境
venv/
.venv/
env/
.env/

# キャッシュファイル
__pycache__/
*.py[cod]
*$py.class

# ログファイル
*.log

# ローカル設定
instance/
example.db
.webassets-cache
static/upload_images/
static/upload_icon/
dummy_data.txt

# IDE設定
.vscode/
.idea/
*.swp
*.swo

# OS生成ファイル
.DS_Store
Thumbs.db

hide_data

static/icon
static/img
static/parts
