* {
    margin: 0;
    padding: 0;
}
#header {
    margin: 0 10px;
    border-bottom: 1px #000 solid;
}
#logo {
    width: 10vw;
    margin: 15px 5px 10px;
}
/* main */
#main {
    width: 70%;
    margin: 5vh auto;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
/* flex */
.flex1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.flex2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: 30vh;
    height: 50%;
}

.profile {
    width: 65%;
    padding-left: 5%;
    background: #ffffff;
    box-shadow: 0px 0px 15px -7px #787878;
    border-radius: 21px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    align-items: center;
}
.userIcon {
    padding: 3%;
    vertical-align: center;
}
.userIcon img {
    width: 200px;
    border-radius: 10em;
}
.userInfo {
    padding: 3%;
    margin-left: 8%;
    width: 40%;
}
.displayName {
    font-size: 32px;
    font-weight: bold;
    padding: 2% 2% 0 0;
}
.userName,
.mailAddress {
    color: #989898;
}
.mailAddress img {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    color: #989898;
}

/* ユーザーの出品数、いいね商品数 */
.userWantSale {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: 5%;
}
.userWantSale h3 {
    border-bottom: #818181 1px solid;
    display: inline-block;
    white-space: nowrap;
    width: 100%;
}
.userWantSale p {
    font-size: 30px;
}
.listingNumber, .thumbsUpSaleNumber {
    display: block;
    margin: 10px 15px 10px 0;
    padding: 3%;
    width: 50%;
}

/* プロフィールの変更 */
.profileChange {
    position: absolute;
    bottom: 5%;
    right: 5%;
}
.profileChangeButton {
    background: #fff;
    border: none;
}

/* 売上金エリア */
.salesMoney {
    background: #ffffff;
    box-shadow: 0px 0px 15px -7px #787878;
    border-radius: 21px;
    width: 30%;
    max-width: 30%;
    min-width: 400px; /* 仮 */
    height: 50%;
}
.salesMoney p:nth-child(1) {
    padding-left: 3%;
    margin: 2%;
}
.salesMoney p:nth-child(2) {
    font-size: 40px;
    text-align: center;
    margin: 3% 0;
}
/* いいね一覧エリア */
.thumbsUpSaleList {
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
    flex-direction: row;
    background: #ffffff;
    box-shadow: 0px 0px 15px -7px #787878;
    border-radius: 21px;
    width: 100%;
    height: 50%;
}
.thumbsUpSaleList img {
    height: 50%;
    padding-left: 3%;
}
.thumbsUpSaleList p {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    padding: 2%;
    text-align: center;
}
.chevron-right {
    position: absolute;
    top: auto;
    right: 3%;
}

.separatorLine {
    width: 80%;
    margin: 0 auto;
    align-items: center;
    border-width: 1px 0 0 0;
	border-style: solid;
	border-color: #000000;
}

/* #mainContents {
    width: 70%;
    margin: 5vw auto;
    align-items: center;
}
.userInfo {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}
.iconArea {
    padding: 0 5%;
}
.iconArea img{
    border-radius: 50%;
}

.users {
    padding: 0 5%;
}
.displayName {
    font-size: x-large;
    font-weight: bold;
}
.userName,
.mailAddress {
    color: #989898;
} */