* {
    margin: 0;
    padding: 0;
}

html,
body {
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
}

#header {
    margin: 0 10px;
    border-bottom: 1px #000 solid;
}

#logo {
    width: 10vw;
    margin: 15px 5px 10px;
}

/* main */
#main {
    width: 70%;
    margin: 5vh auto;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

/* flex */
.flex1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.flex2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: 30vh;
    height: 50%;
}

.profile {
    width: 70%;
    padding-left: 5%;
    background: #ffffff;
    box-shadow: 0px 0px 15px -7px #787878;
    border-radius: 21px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    align-items: center;
}

.userIcon {
    padding: 3%;
    vertical-align: center;
}

.userIcon img {
    width: 200px;
    border-radius: 10em;
}

.userInfo {
    padding: 3%;
    margin-left: 8%;
    width: 40%;
}

.userInfo p {
    margin: 0;
}

.profileDisplayName {
    font-size: 32px !important;
    font-weight: bold;
    padding: 2% 2% 0 0;
}

.userName,
.mailAddress {
    color: #989898;
}

.mailAddress img {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    color: #989898;
}

/* ユーザーの出品数、いいね商品数 */
.userWantSale {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: 5%;
}

.userWantSale h3 {
    border-bottom: #818181 1px solid;
    display: inline-block;
    white-space: nowrap;
    width: 100%;
    font-size: medium;
}

.userWantSale p {
    font-size: 30px;
    margin: 0 !important;
}

.listingNumber,
.thumbsUpSaleNumber {
    display: block;
    margin: 10px 15px 10px 0;
    padding: 3%;
    width: 50%;
}
.saleListIcon {
    width: 2.5em;
    height: 2.5em;
    vertical-align: middle;
    margin-right: 5px;
}

/* プロフィールの変更モーダル */
.profileChange {
    margin: 0 auto;
}

.profileChangeButton {
    background: #fff;
    border: none;
}

.profileChange .btn {
    background: #ffffff;
    color: #000;
    padding: 0;
    border: none;
}

.profileChange .btn:focus {
    box-shadow: none;
}

/* Modal content  */
/* Modal1 Modal2　共通 */
.modal-content {
    min-height: 600px;
}
/* Modal1 */
/* Modal header */
.modal-header {
    padding: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.modal-header-left {
    display: flex;
    flex-direction: row;
}
.modal-title {
    margin: 0 3%;
    white-space: nowrap;
}
.profileSubmitbtn {
    border-radius: 50em;
    text-decoration: none;
    color: #fff;
    background: #000000;
    padding: 7px 20px;
    cursor: pointer;
    transition: .3s;
}
.profileSubmitbtn:hover {
    background: #1a1a1a;
}

/* Modal main */
.modalMain {
    padding: 30px;
}

.btn-secondary {
    margin: 1px 4px;
}

/* 画像を包む親要素 */
.fileContainer {
    position: relative;
    display: inline-block;
    margin: 16px;
}

/* 画像アイコン */
#icon, #trimed{
    max-width: 150px;
    max-height: 150px;
    min-width: 150px;
    min-height: 150px;
    border: 1px solid #ccc;
    border-radius: 50%;
    filter: brightness(80%);
}

.cameraIconBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    background: rgba(201, 201, 201, 0.3);
    border-radius: 10rem;
    cursor: pointer;
    transition: .3s;
}
.cameraIconBox:hover{
    background: rgba(255, 255, 255, 0.3);
}

/* SVGカメラアイコン */
.cameraIcon {
    width: 50%;
    height: 50%;
    top: -50%;
    left: -50%;
    transform: translate(50%, 50%);
    fill: white;
    padding: 1px;
}

#triming_image {
    display: none;
}

.modalInputBox {
    position: relative;
    margin-bottom: 16px;
}

.inputLabel {
    position: absolute;
    top: 8px; 
    left: 12px;
    padding: 0 7px;
    font-size: 12px;
    color: #888;
    background: #fff;
    pointer-events: none;
    transition: all 0.3s ease;
}

/* modalの中 */
.modalInput {
    padding: 12px 8px 8px;
    margin: 16px 0 0;
    width: 100%;
}


/* btn_profile */
.btn_profile {
    background: none;
    border: none;
    color: #000;
}
/* Modal2 */
.modal-header-left .back_btn {
    background: #fff;
    color: #000;
    border: none;
    padding: 0;
    margin: 0;
}
.back_btn {
    background: #fff;
    color: #000;
}
/* --------------------- */
/* 売上金エリア */
.salesMoney {
    background: #ffffff;
    box-shadow: 0px 0px 15px -7px #787878;
    border-radius: 21px;
    width: 30%;
    max-width: 30%;
    min-width: 400px;
    /* 仮 */
    height: 50%;
}

.salesMoney p:nth-child(1) {
    padding-left: 3%;
    margin: 2%;
}

.salesMoney p:nth-child(2) {
    font-size: 40px;
    text-align: center;
    margin: 3% 0;
}

/* いいね一覧エリア */
.thumbsUpSaleList {
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
    flex-direction: row;
    background: #ffffff;
    box-shadow: 0px 0px 15px -7px #787878;
    border-radius: 21px;
    width: 100%;
    height: 50%;
    transition: .5s;
}

.thumbsUpSaleList:hover {
    background: #ececec;
}

.thumbsUpSaleList img {
    height: 50%;
    padding-left: 3%;
}

.thumbsUpSaleList p {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    padding: 2%;
    text-align: center;
    margin: 0;
}

.thumbsUpSaleList a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.chevron-right {
    position: absolute;
    top: auto;
    right: 3%;
}

.separatorLine {
    width: 80%;
    margin: 0 auto;
    align-items: center;
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: #000000;
}

/* タブ切り替え */
.tab-1 {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto;
}

.tab-1 > label {
    flex: 1 1;
    order: -1;
    min-width: 70px;
    padding: .7em 1em .5em;
    border-bottom: 1px solid #f0f0f0;
    border-radius: 0;
    background-color: #e9f0f6;
    color: #535353;
    font-size: .9em;
    text-align: center;
    cursor: pointer;
}

.tab-1 > label:hover {
    opacity: .8;
}

.tab-1 input {
    display: none;
}

.tab-1 > div {
    display: none;
    width: 100%;
    padding: 1.5em 1em;
    background-color: #fff;
}

.tab-1 label:has(:checked) {
    background-color: #fff;
    border-color: #46a0dc #f0f0f0 #fff;
    border-style: solid;
    border-width: 4px 1px 1px;
    border-radius: 5px;
    color: #333333;
}

.tab-1 label:has(:checked) + div {
    display: block;
}

/* #mainContents {
    width: 70%;
    margin: 5vw auto;
    align-items: center;
}
.userInfo {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}
.iconArea {
    padding: 0 5%;
}
.iconArea img{
    border-radius: 50%;
}

.users {
    padding: 0 5%;
}
.displayName {
    font-size: x-large;
    font-weight: bold;
}
.userName,
.mailAddress {
    color: #989898;
} */