/* ranking */
.ranking {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
}

.saleRanking {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    gap: 10%;
}

.saleRankingBox {
    padding: 3% 2%;
    align-items: center;
    background: rgb(255, 255, 255);
    box-shadow: 4px 4px 9px -3px #c2c2c2;
    border-radius: 2px;
    text-decoration: none;
    color: #070707;
}

.saleRankingBox {
    width: 20%;
    position: relative;
}

.saleRankingBox::before {
    content: attr(data-rank);
    position: absolute;
    top: 0;
    left: 0;
    padding: 4px;
    font-size: 14px;
    border-radius: 10px 0 10px 0;
}

.saleRankingBox[data-rank="No.1"]::before {
    background-color: gold;
}

.saleRankingBox[data-rank="No.2"]::before {
    background-color: silver;
}

.saleRankingBox[data-rank="No.3"]::before {
    background-color: #cd7f32;
}

@media (max-width: 960px) {
    .saleRanking {
        display: block;
        margin: 0 5%;
    }

    .saleRankingBox {
        width: 100%;
        padding: 0;

        align-items: center;
        background: none;
        text-decoration: none;
        color: #070707;
    }

    #saleRankingBox {
        display: flex;
        flex-direction: row;
        padding: 10px 10%;
        margin: 0 0 10px;
        box-shadow: 0px 0px 15px -5px #777777;
        border-radius: 10px;
    }

    .uploadImgRanking {
        width: 30%;
    }

    .uploadImgRanking img {
        width: 100%;
        border: none;
    }

    .saleRankingBox_content {
        width: 70%;
        display: flex;
        flex-direction: row;
    }

    .saleRankingBoxDetail {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0 10%;
    }

    .saleRankingBoxDetail h3 {
        font-size: 4vw;
    }
    .saleRankingBoxDetail p {
        font-size: 3vw;   
    }
    .saleRankingBoxDetail p:first-of-type {
        color: gray;
    }

    .likeContainer {
        display: none;
    }
}