/* sale.html */

.saleBox {
    width: calc(20% - 40px);
    align-items: center;
    background: rgb(255, 255, 255);
    box-shadow: 4px 4px 9px -3px #c2c2c2;
    border-radius: 2px;
    padding: 10px;
}
#uploadImg {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    border: 1px solid #acacac;
}
.heartlogo {
    width: 30px;
    height: 30px;
    cursor: pointer;
}