.userSales {
    width: 70%;
    margin: 5vh auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0px 0px 15px -7px #787878;
    border-radius: 21px;
}

.mySales {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    align-self: baseline;
    margin: 0 auto;
    width: 90%;
}

.mySale {
    width: calc(16% - 12px);
    margin: 6px;
    background-color: #F8F8F8;
}
.mySale img {
    width: 90%;
    margin: 5%;
}
.mySaleInfo {
    text-align: left;
    margin: 5%;
}