@charset "UTF-8";

body {
    font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic,
    sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #fff;
}

/* .main{
    border: #737172 solid 1px;
    font-size: 100%; 
    padding: 15px;
    width: 950px;
    height:500px;
    box-shadow: 0 5px 7px 0 #c0c0c0;
    position: absolute;
    top: 10%;
    left: 5%;
    border-radius: 15px;
} */
.main{
    position: absolute;
    top: 10%;
    left: 5%;
}


.timer{
    border: #737172 solid 1px;
    font-size: 100%; 
    padding: 15px;
    width: 20%;
    box-shadow: 0 5px 7px 0 #c0c0c0;
    position: absolute;
    top: 10%;
    right: 5%;
    border-radius: 15px;
}

.timer p{
    text-align: center;
}

.money{
    border: #737172 solid 1px;
    font-size: 100%; 
    padding: 15px;
    width: 20%;
    box-shadow: 0 5px 7px 0 #c0c0c0;
    position: absolute;
    top: 30%;
    right: 5%;
    border-radius: 15px;
}

.money p{
    text-align: center;
}


.botan{
    position: absolute;
    top:75%;
    right:5%;
}
.botan .btn {
    border: 1px solid #000000;
    font-size: 16px;
    font-weight: bold;
    color: #070707;
    background-color: #ffffff;
    padding: 10px 30px;
    border-radius: 0px;
    text-decoration: none;
    transition: all 0.2s;
    

}

.botan .btn:hover {
    background-color: #070707;
    color: #ffffff;
    transition: all 0.4s;
}


/* ---------------drow.html--------------------- */
.backbotan{
    position: absolute;
    top:4%;
    left:4%;
}

.backbotan .btn {
    font-size: 16px;
    font-weight: bold;
    color: #070707;
    
    padding: 10px 30px;
    border-radius: 0px;
    text-decoration: none;
    transition: all 0.2s;
}

.backbotan .btn:hover {
    color: #474747;
    transition: all 0.4s;
}



.timer-result{
    border: #ffffff solid 1px;
    font-size: 150%; 
    padding: 15px;
    width: 20%;
    position: absolute;
    top: 5%;
    right: 5%;
    border-radius: 15px;
}    

.money-result{
    border: #ffffff solid 1px;
    font-size: 150%; 
    padding: 15px;
    width: 20%;
    position: absolute;
    top: 20%;
    right: 5%;
    border-radius: 15px;
}

.money-result p2{
    color: #e21111;
    font-weight: bold;
}

.title{
    border: #ffffff solid 1px;
    font-size: 150%; 
    padding: 15px;
    width: 20%;
    position: absolute;
    top: 33%;
    right: 5%;
    border-radius: 15px;
}

.botan2{
    position:absolute;
    top:80%;
    right:5%;
}

.botan2 .btn {
    border: 1px solid #000000;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #ff5a65;
    padding: 15px 60px;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.2s;
}

.botan2 .btn:hover {
    background-color: #ff0011;
    transition: all 0.4s;
}