<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>art</title>
    <link rel="stylesheet" href="../static/css/draw.css">
    <script src="https://code.createjs.com/1.0.0/createjs.min.js"></script>
</head>
<body>
    <main>
        <div class="drawArea">
            <div class="selectTool">
                <span>
                    <label>カラー変更</label>
                    <input id="inputColor" type="color" value="#000" placeholder="カラーを選択">
                </span>
                <button class="btn_push" id="pen"><img src="../static/icon/pen.png" alt=""></button>
                <button class="btn_push" id="eraser"><img src="../static/icon/eraser.png" alt=""></button>
                <button class="btn_push" id="reset"><img src="../static/icon/reset.png" alt=""></button>
            </div>
            <canvas id="myCanvas"></canvas>  
            <div class="sliderContainer">
                <label for="lineWidth">線の太さ</label>
                <input type="range" id="lineWidth" min="1" max="30" value="5">
                <label for="lineOpacity">透明度</label>
                <input type="range" id="lineOpacity" min="0" max="1" step="0.1" value="1">
            </div>
        </div>
        
        <div class="side">

            <div class="sideTop">
                <div class="timer">
                    <p>xx:xx</p>
                </div>
                <div class="money">
                    <p>yyy円</p>
                    
                </div>
            </div>

            <form action="/result" class="btn">
                <button type="submit" class="button" id="saveButton">&gt;完成、出品手続きへ</button>
            </form>

        </div>
    </main>
    <script src="../static/js/script.js"></script>
    
</body>
</html>