<header>
    <div class="header-wrapper">
        <div class="header-top">
            <div class="header-logo">
                <h1>
                    <a href="/top">
                        <img src="{{ url_for('static', filename='icon/logo.png') }}" alt="Piction">
                    </a>
                </h1>
            </div>
            <div class="search-box">
                <form action="/search" method="get">
                    <input type="text" name="query" placeholder="作品を検索" value="{{ request.args.get('query', '') }}">
                    <button type="submit">
                        <img src="{{ url_for('static', filename='parts/magnifyingglass.svg') }}" alt="検索">
                    </button>
                </form>
            </div>
            <div class="header-icon">
                <div class="icon-item">
                    <a href="/logout" class="nav-link">
                        <img src="{{ url_for('static', filename='parts/logout.svg') }}" alt="ログアウト">
                        <span>ログアウト</span>
                    </a>
                </div>
                <div class="icon-item">
                    <a href="/myLikeList" class="nav-link">
                        <img src="{{ url_for('static', filename='parts/heart.svg') }}" alt="いいね">
                        <span>いいね</span>
                    </a>
                </div>
                <div class="icon-item">
                    <a href="/myPage" class="nav-link">
                        <img src="{{ url_for('static', filename='parts/person-fill.svg') }}" alt="マイページ">
                        <span>マイページ</span>
                    </a>
                </div>
            </div>
        </div>
        <nav class="navigation-main">
            <ul>
                <li><a href="/top">商品ランキング</a></li>
                <li><a href="/lineup">作品一覧</a></li>
                <li><a href="/draw">作品を出品する</a></li>
            </ul>
        </nav>
    </div>
</header>
