<header>
    <div class="header-wrapper">
        <div class="header-top">
            <div class="header-logo">
                <h1>
                    <a href="/top">
                        <img src="{{ url_for('static', filename='icon/logo.png') }}" alt="">
                    </a>
                </h1>
            </div>
            <div class="search-box">
                <form action="#">
                    <input type="text" placeholder="Search">
                    <button type="submit"><img src="img/search/Icon/magnifyingglass.svg" alt="検索"></button>
                </form>
            </div>
            <div class="header-icon">
                <nav class="icon">
                    <ul>
                        <li><a href="/myPage"><img src="{{ url_for('static', filename='parts/heart.svg') }}" alt="いいね"></a></li>
                        <li><a href="/myPage"><img src="{{ url_for('static', filename='parts/person-fill.svg') }}" alt="マイページ"></a></li>
                        <!-- <li><a href=".html"><img src="img/cart/Icon/cart.svg" alt="カート"></a></li> -->
                    </ul>
                </nav>
            </div>

        </div>
        <!-- ナビゲーション -->
        <nav class="navigation-main">
            <ul>
                <li class="list"><a href=".html">商品ランキング</a></li>
                <li class="list"><a href=".html">作品一覧</a></li>
                <li class="list"><a href=".html">作品を出品する</a></li>
            </ul>
        </nav>
    </div>
</header>