<header>
    <div class="header-wrapper">
        <div class="header-top">
            <div class="header-logo">
                <h1>
                    <a href="index.html">
                        Piction
                    </a>
                </h1>
            </div>
            <div class="search-box">
                <form action="#">
                    <input type="text" placeholder="Search">
                    <button type="submit"><img src="img/search/Icon/magnifyingglass.svg" alt="検索"></button>
                </form>
            </div>
            <div class="header-icon">
                <nav class="icon">
                    <ul>
                        <li><a href=".html"><img src="img/heart/Icon/heart.svg" alt="お気に入り"></a></li>
                        <li><a href=".html"><img src="img/mypage/Icon/person-fill.svg" alt="マイページ"></a></li>
                        <li><a href=".html"><img src="img/cart/Icon/cart.svg" alt="カート"></a></li>
                    </ul>
                </nav>
            </div>

        </div>
        <!-- ナビゲーション -->
        <nav class="navigation-main">
            <ul>
                <li class="list"><a href=".html">商品ランキング</a></li>
                <li class="list"><a href=".html">作品一覧</a></li>
                <li class="list"><a href=".html">作品を出品する</a></li>
                <li class="list"><a href=".html">よくある質問</a></li>
                <li class="list"><a href=".html">お問い合わせ</a></li>
                <li class="list"><a href=".html">ログイン</a></li>
            </ul>
        </nav>
    </div>
</header>