<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font.css') }}">
    <link rel="icon" href="../static/icon/favicon.png">
    <title>Piction</title>
</head>

<body oncontextmenu="return false;">
    <div class="mainContents">
        <div class="welcomeLogo">
            <img src="{{ url_for('static', filename='../static/icon/logo.png') }}" alt="Piction" id="PictionLogo">
        </div>

        <h1>Welcome to Piction!!!</h1>
        <div class="welcomeText">
            <p><span>このアプリは自分の絵がそのまま</span><span>オークションに出品できるアプリです。</span></p>
        </div>

        <div class="signupLoginArea">
            <div class="userPageLink">
                <a href="/signup" role="button" class="signupLoginButton" id="signupLink">Sign up</a>
            </div>
            <div class="userPageLink">
                <a href="/login" role="button" class="signupLoginButton" id="loginLink">Login</a>
            </div>
        </div>
    </div>



    <!-- db内容表示(デバック用) -->
    <!-- <h5>デバック用</h5>
    <h5>このページ（index.html）はログアウト時にしか見ることができない</h5>
    <p>【以下デバック用DB中身エリア】</p>
    {% for user in user %}
        <p>userName :{{user.userName}}｜displayName :{{user.displayName}}｜mailAddress :{{user.mailAddress}}｜password :{{user.password}}</p>
    {% endfor %}
    <div class="userPageLink">
        <a href="/logout" role="button">ログアウトする</a>
    </div> -->
</body>

</html>