<div id="nav_sp">
    <nav class="navigation-main_sp">
        <div class="icon_item_sp">
            <a href="/top" class="nav_link_sp">
                <img src="{{ url_for('static', filename='parts/home.svg') }}" alt="トップ">
                <span>トップ</span>
            </a>
        </div>
        <div class="icon_item_sp">
            <a href="/top" class="nav_link_sp">
                <img src="{{ url_for('static', filename='parts/oukan.png') }}" alt="ランキング">
                <span>ランキング</span>
            </a>
        </div>
        <div class="icon_item_sp">
            <a href="/draw" class="nav_link_sp">
                <img src="{{ url_for('static', filename='icon/icon.png') }}" alt="出品">
                <span>出品</span>
            </a>
        </div>
        <div class="icon_item_sp">
            <a href="/myLikeList" class="nav_link_sp">
                <img src="{{ url_for('static', filename='parts/heart.svg') }}" alt="いいね">
                <span>いいね</span>
            </a>
        </div>
        <div class="icon_item_sp">
            <a href="/myPage" class="nav_link_sp">
                <img src="{{ url_for('static', filename='parts/person.svg') }}" alt="マイページ">
                <span>マイページ</span>
            </a>
        </div>
    </nav>
</div>