<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/icon/favicon.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/purchase.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <title>購入した作品 | Piction</title>
</head>
<body>
    {% include 'header.html' %}

    <main>

    </main>

    {% include 'footer.html' %}
</body>
</html> 