<div class="lineup">
    <div class="saleTitle">
        <h2>作品一覧</h2>
    </div>
    <div class="sale">
        {% for sale in sales %}
        <a class="saleBox" href="{{ url_for('saleDetail', sale_id=sale.saleId) }}">
            <div>
                <div>
                    <img src="{{ url_for('static', filename=sale.filePath) }}" alt="saleImage" id="uploadImg">
                    <!-- <img src="{{ sale.filePath }}" alt="saleImage" id="uploadImg"> -->
                </div>
                <div>
                    <h3>{{ sale.title }}</h3>
                    <p>{{ sale.user.displayName }}</p>
                    <p>￥{{ sale.currentPrice }}</p>
        
                    <div class="likeContainer">
                        <span id="like-count-{{ sale.saleId }}">{{ sale.like_count }}</span>
                        <svg id="heart-icon-{{ sale.saleId }}" class="heart-icon" width="32" height="32" viewBox="0 0 32 32" fill="none"
                            xmlns="http://www.w3.org/2000/svg" onclick="likeSale({{ sale.saleId }}, {{ userId }}, event)">
                            <path id="heart-path-{{ sale.saleId }}"
                                d="M4 12.0869C4 8.65187 6.78463 5.5 10.2196 5.5C12.2752 5.5 14.5 6.5 15.9999 8C17.5 6.5 19.7248 5.5 21.7804 5.5C25.2154 5.5 28 8.65187 28 12.0869C28 14.2617 27.0872 16.3367 25.484 17.8063L17.044 25.9879C16.4622 26.5519 15.5376 26.5519 14.9559 25.9879L6.51599 17.8063C4.91279 16.3367 4 14.2617 4 12.0869Z"
                                {% if sale.saleId in liked_sale_ids %} fill="#f03eb5" stroke="#f03eb5" {% else %}
                                fill="#fff" stroke="#000" {% endif %} />
                        </svg>
                    </div>
                </div>
            </div>
        </a>
        
        {% endfor %}
    </div>
    <button class="showMore"><a href="top.html">もっと見る</a></button>
</div>