<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新規登録ページ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">
</head>

<body>
    <div id="mainContent">
        <h1>新規登録</h1>
        <form method="POST" class="signupForm">
            <div class="inputArea">
                <p>ユーザーネーム</p>
                <input type="text" name="userName" placeholder="user name">
            </div>
            <div class="inputArea">
                <p>表示名</p>
                <input type="text" name="displayName" placeholder="display name">
            </div>
            <div class="inputArea">
                <p>メールアドレス</p>
                <input type="mail" name="mailAddress" placeholder="mail address">
            </div>
            <div class="inputArea">
                <p>パスワード</p>
                <input type="password" name="password" placeholder="password">
            </div>
            <div class="privacyPolicy">
                <input type="checkbox" name="privacyPolicy">
                <p><a href="privacyPolicy.html">利用規約、プライバシーポリシー</a>に同意する。</p>
            </div>
            <input type="submit" value="登録する" class="signupSubmitButton"/>


        </form>
    </div>


</body>

</html>