<div class="userSales">
    <p>落札した商品</p>
    <div class="mySales">
        {% for sale in myBidSales %}
        <a class="saleBox" href="{{ url_for('bidSaleDetail', sale_id=sale.saleId) }}">
            <div class="mySale">
                <img src="{{ url_for('static', filename=sale.filePath) }}" alt="saleImage">
                <div class="mySaleInfo">
                    <h3>{{ sale.title }}</h3>
                    <p>作：{{ sale.user.displayName }}</p>
                </div>
            </div>
        </a>
        {% else %}
        <p>落札した商品はありません。</p>
        {% endfor %}

    </div>
</div>