<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- font -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font.css') }}">
    <!-- scrollbar -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/scrollbar.css') }}">
    <!-- termsOfUse -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/termsOfUse.css') }}">
    <!-- footer -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <!-- favicon -->
    <link rel="icon" href="../static/icon/favicon.png">

    <script src="{{ url_for('static', filename='js/footer.js') }}" defer></script>
    <title>利用規約 | Piction</title>
</head>

<body>
    <!-- header -->
    <header>
        <div class="header_icon" id="page_top">
            <a href="/top">
                <img src="{{ url_for('static', filename='icon/logo.png') }}" alt="Piction">
            </a>
        </div>
    </header>

    <!-- main -->
    <main>
        <div class="page_top_button">
            <a href="#page_top">
                <img src="{{ url_for('static', filename='parts/chevron-up.svg') }}" alt="topに戻る">
            </a>
        </div>
        <div id="terms_of_use">
            <div class="term_of_use">
                <div class="term_of_user_title">
                    <h1>利用規約</h1>
                </div>
                <div class="term_of_user_contents">
                    <div class="item item1">
                        <h2>1. <span class="item_title">定義</span></h2>
                        <p>本利用規約（以下「本規約」）は、Pictionが提供するオンラインプラットフォーム（以下「本サービス」）の利用に関する条件を定めるものです。</p>
                    </div>
                    <div class="item item2">
                        <h2>2. <span class="item_title">サービス内容</span></h2>
                        <p>本サービスは、ユーザーが自ら作成した絵をオークション形式で公開・販売できるECサイトです。販売にあたっては、実際の金銭のやり取りは行われません。</p>
                    </div>
                    <div class="item item3">
                        <h2>3. <span class="item_title">資格</span></h2>
                        <p>本サービスの利用資格は、『HAL EVENT WEEK 2025』の関係者（学生、教職員）であり、当サイトを認識している者に限ります。</p>
                    </div>
                    <div class="item item4">
                        <h2>4. <span class="item_title">アカウントの作成と管理</span></h2>
                        <p>本サービスを利用するためには、ユーザーは「ユーザーID」、「表示名」、「パスワード」および「メールアドレス」でアカウントを作成し、自己責任で管理するものとします。</p>
                    </div>
                    <div class="item item5">
                        <h2>5. <span class="item_title">ユーザーの責任</span></h2>
                        <p>ユーザーは、当サービスを利用する際、すべての投稿内容について責任を負うものとします。投稿内容の合法性、著作権等について問題が生じた場合、当該ユーザーが責任を負うものとします。</p>
                    </div>
                    <div class="item item6">
                        <h2>6. <span class="item_title">禁止事項</span></h2>
                        <p>ユーザーは以下の行為を行ってはなりません。</p>
                        <div>
                            <ul>
                                <li>・本サービスの運営を妨害する行為</li>
                                <li>・スパム投稿や不正アクセス</li>
                                <li>・公序良俗に反する行為</li>
                                <li>・法律に違反する行為</li>
                            </ul>
                        </div>
                    </div>
                    <div class="item item7">
                        <h2>7. <span class="item_title">投稿した絵の利用について</span></h2>
                        <p>ユーザーが本サービスに投稿した絵は、当サービスのプロモーションやその他の活動で使用される場合があります。運営が特に優れていると判断した絵については、他のサービスや媒体に投稿・利用することがあります。なお、投稿された絵の著作権は引き続きユーザーに帰属しますが、利用権が運営側に付与されることになります。
                        </p>
                    </div>
                    <div class="item item8">
                        <h2>8. <span class="item_title">変更・通知</span></h2>
                        <p>当サービスは、利用規約の変更がある場合、変更内容をユーザーに通知します。変更後の規約は通知後すぐに適用されるものとします。</p>
                    </div>
                    <div class="item item9">
                        <h2>9. <span class="item_title">サービスの変更・終了</span></h2>
                        <p>当サービスは、予告なくサービス内容の変更、停止、終了を行うことがあります。サービスの終了に際して、ユーザーには通知することがあります。</p>
                        <p></p>
                    </div>
                    <div class="item item10">
                        <h2>10. <span class="item_title">解約条件および終了条件</span></h2>
                        <p>以下の条件が発生した場合、当サービスはユーザーのアカウントを削除することがあります。</p>
                        <ul>
                            <li>・本規約に違反した場合</li>
                            <li>・ユーザーからの解約要求があった場合</li>
                            <li>・当サービスの運営が続けられなくなった場合</li>
                        </ul>
                    </div>
                    <div class="item item11">
                        <h2>11. <span class="item_title">免責事項</span></h2>
                        <p>当サービスは、提供するコンテンツに関して、完全性や正確性を保証しません。また、サービス利用中に生じた損害について、当サービスは責任を負いません。</p>    
                    </div>
                    <div class="item item12">
                        <h2>12. <span class="item_title">その他</span></h2>
                        <p>その他、当サイトの個人情報の取り扱いに関するご質問、苦情などについては、
                            <a href="/contact" id="contact_link">お問い合わせ</a>
                            よりお問い合わせください。
                        </p>    
                    </div>
                    <div class="siteInfo item13">
                        <p>制定日：2025年3月1日</p>
                        <p>最終改定日：2025年3月1日</p>
                        <div class="siteInfo_logo">
                            <a href="/top">
                            <img src="{{ url_for('static', filename='icon/logo.png') }}" alt="Piction" class="siteInfo_logo_img">
                        </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="close_button" onclick="goBack()">
                <button><a href="/top">閉じる</a></button>
            </div>
        </div>
    </main>

    <!-- footer -->
    {% include 'footer.html' %}

    <script>
        function goBack() {
            window.history.back();
            window.scrollTo(0, 0);  
        }
    </script>
</body>
</html>