<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/icon/favicon.png">
    <!------ css link ------>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/top.css') }}">
    <!-- header -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <!-- nav_sp -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav_sp.css') }}">
    <!-- footer -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <!-- slider -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/slider.css') }}">
    <!-- sale -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sale.css') }}">
    <!-- ranking -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ranking.css') }}">
    <!-- font -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font.css') }}">
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
    
    <!-- script link -->
    <script src="{{ url_for('static', filename='js/top.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/footer.js') }}" defer></script>
    <title>トップ | Piction</title>
</head>

<body>
    <!-- ヘッダーエリア -->
    {% include 'header.html' %}
    <!-- スマホナビ -->
    {% include 'nav_sp.html' %}

    <main>
        <!-- スライダーエリア -->
        {% include 'slider.html' %}
        
        <!-- ランキングエリア -->
        {% include 'top_ranking.html' %}

        <!-- 商品一覧 -->
        {% include 'sale.html' %}
    </main>

    <!-- フッターエリア -->
    {% include 'footer.html' %}
</body>

</html>